
<form class="quiqqer-bricks-brickedit">
    <table class="data-table brick-edit-extra-header">
        <thead>
        <tr>
            <th colspan="2">
                {locale group="quiqqer/bricks" var="brick.edit.extra.header"}
            </th>
        </tr>
        </thead>

        <tbody>

        <tr class="{cycle values="odd,even"}">
        <td>
            <label for="frontendTitle">
                {locale group="quiqqer/bricks" var="brick.edit.frontendTitle"}
            </label>
        </td>
        <td>
            <input type="text" name="frontendTitle" id="frontendTitle" />
        </td>
        </tr>
        </tbody>
    </table>
</form>
