
<form class="quiqqer-bricks-brickedit" name="">
    <table class="data-table">
    <thead>
        <tr>
            <th colspan="2">
                {locale group="quiqqer/bricks" var="brick.edit.header"}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td>
                <label for="title">
                    {locale group="quiqqer/bricks" var="brick.edit.backendTitle"}
                </label>
            </td>
            <td>
                <input type="text" name="title" id="title" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>
                <label for="description">
                    {locale group="quiqqer/bricks" var="brick.edit.description"}
                </label>
            </td>
            <td>
                <textarea name="description" id="description"></textarea>
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>
                <label for="type">
                    {locale group="quiqqer/bricks" var="brick.edit.type"}
                </label>
            </td>
            <td>
                <input type="text" name="type" id="type" disabled="disabled" />
            </td>
        </tr>
    </tbody>
    </table>
</form>