<form class="quiqqer-bricks-brickedit">
    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/bricks" var="brick.edit.header"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="title" class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/bricks" var="brick.edit.backendTitle"}
                    </span>
                    <input type="text" name="title" id="title" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description" class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/bricks" var="brick.edit.description"}
                    </span>
                    <textarea name="description"
                              id="description"
                              class="field-container-field"
                              style="height: 100px"
                    ></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="type" class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/bricks" var="brick.edit.type.title"}
                    </span>
                    <input type="text" name="type" id="typeTitle" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="type" class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/bricks" var="brick.edit.type"}
                    </span>
                    <input type="text" name="type" id="type" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="deprecated-messages quiqqer-message quiqqer-message-error"
         style="display: none; width: 100%; max-width: 100%">
        <div class="quiqqer-message-text">
            {locale group="quiqqer/bricks" var="brick.deprecated"}
        </div>
    </div>
</form>