<form class="quiqqer-bricks-brickedit">
    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/bricks" var="brick.edit.allowed.areas"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="quiqqer-bricks-areas"></div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox brick-table-flexible">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/bricks" var="brick.edit.settings.flexible.header"}
                <div class="description">
                    {locale group="quiqqer/bricks" var="brick.edit.settings.flexible.header.description"}
                </div>
            </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>