
.quiqqer-bricks-brickedit {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-bricks-brickedit label {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-bricks-brickedit input,
.quiqqer-bricks-brickedit select,
.quiqqer-bricks-brickedit textarea {
    clear: both;
    float: left;
    max-width: 300px;
    width: 100%;
}

.quiqqer-bricks-brickedit .cke_source {
    max-width: 100%;
}

.quiqqer-bricks-brickedit input[type="checkbox"],
.quiqqer-bricks-brickedit input[type="radio"] {
    width: 20px;
}

.quiqqer-bricks-brickedit-label-editor {
    cursor: pointer;
    margin-bottom: 0;
}

.quiqqer-bricks-areas {
    margin-bottom: 0 !important;
}

.brick-edit-extra-header tbody tr td:first-child,
.quiqqer-bricks-brickedit .data-table tbody tr td:first-child {
    width: 200px;
}

.brick-table-flexible label {
    margin-bottom: 0;
    width: 100% !important;
}