
.quiqqer-bricks-brickedit {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-bricks-container {
    float: left;
    position: relative;
    width: 100%;
}

.brick-edit-content {
    margin-bottom: 0;
}
/*
.quiqqer-bricks-brickedit label {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-bricks-brickedit input,
.quiqqer-bricks-brickedit select,
.quiqqer-bricks-brickedit textarea {
    clear: both;
    float: left;
    max-width: 300px;
    width: 100%;
}
*/
.quiqqer-bricks-brickedit .cke_source {
    max-width: 100%;
}

.quiqqer-bricks-brickedit input[type="checkbox"],
.quiqqer-bricks-brickedit input[type="radio"] {
    width: 20px;
}

.quiqqer-bricks-brickedit-label-editor {
    cursor: pointer;
    margin-bottom: 0;
}

.quiqqer-bricks-areas {
    margin-bottom: 0 !important;
}

.brick-edit-extra-header tbody tr td:first-child,
.quiqqer-bricks-brickedit .data-table tbody tr td:first-child {
    width: 200px;
}

.brick-table-flexible label {
    margin-bottom: 0;
    width: 100% !important;
}

/* copy brick data */
.quiqqer-bricks-brickedit-showBrickData {
    position: relative;
}

.quiqqer-bricks-brickedit-showBrickDataBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: calc(100% - 20px);
    width: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    padding: 0;
    border: none;
    box-shadow: none;
    float: none;
    border-radius: 0;
    line-height: inherit;
    margin: 0;
    background: none;
}

.quiqqer-bricks-brickedit-showBrickDataBtn:hover {
    background-color: #f8f8f8;
    opacity: 1;
    color: inherit;
}

/* brick data window */
.showBrickData-window-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.showBrickData-window-body p {
    margin-bottom: 1rem;
}

.showBrickData-window-body textarea {
    height: 100%;
    background: #f5f2f0;
    padding: 1rem;
    min-height: 200px;
    font-family: 'monospace';
    border: none;
}

.showBrickData-window-body-text .qui-button {
    float: right;
    margin: 0 0 1rem 1rem;
}