
.quiqqer-bricks-brickareas {
    border: 2px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-bricks-brickareas-container {
    background: #fff;
    height: calc(100% - 30px);
    overflow: auto;
    padding: 10px;
}

.quiqqer-bricks-brickareas-buttons {
    height: 30px;
}

.quiqqer-bricks-brickareas-area {
    background-color: #eff0f0;
    border: 1px solid #d6d9d9;
    border-radius: 3px;
    color: #555;
    float: left;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
    position: relative;
    text-decoration: none;
}