
.quiqqer-blocks-create label {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-blocks-create input,
.quiqqer-blocks-create select,
.quiqqer-blocks-create-label-text {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-blocks-create-label-text {
    cursor: pointer;
    margin-bottom: 10px;
}