<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="bricks"
          icon="fa fa-th"
          require="package/quiqqer/bricks/bin/Manager"
          permission="quiqqer.bricks.edit"
    >
        <locale group="quiqqer/bricks" var="menu.bricks.text" />
    </item>
</menu>
