
.quiqqer-bricks-BoxContent-entry {
    float: left;
}

.quiqqer-bricks-BoxContent-entry label {
    clear: both !important;
    float: left !important;
    margin: 0 0 10px 0 !important;
    width: 100% !important;
}

.quiqqer-bricks-BoxContent-entry span {
    float: left;
    line-height: 30px;
    width: 140px;
}

.quiqqer-bricks-BoxContent-entry input {
    clear: none;
    float: left;
}
