
.quiqqer-bricks-socialBox-entry {
    border-bottom: 1px solid #dedede;
    float: left;
    margin-top: 20px;
}

.quiqqer-bricks-socialBox-entry label {
    clear: both !important;
    float: left !important;
    margin: 0 0 10px 0 !important;
    width: 100% !important;
}

.quiqqer-bricks-socialBox-entry span {
    float: left;
    line-height: 30px;
    width: 140px;
}

.quiqqer-bricks-socialBox-entry input {
    clear: none;
    float: left;
    width: calc( 100% - 140px );
}
