.quiqqer-bricks-promoslider-settings-entry-form table {
    border: none;
}

.quiqqer-bricks-promoslider-settings-entry-form td {
    padding-left: 0;
    padding-right: 0;
}

.quiqqer-bricks-textAndImageMultiple-settings img {
    max-width: 50px;
    max-height: 50px;
}