/**********/
/* button */
/**********/
.quiqqer-control-languageswitch-dropdown {
    cursor: pointer;
    position: relative;
    display: flex;
    padding-inline: 0.5em;
}

.quiqqer-control-languageswitch-dropdown-button.inactive {
    cursor: default;
}

.quiqqer-control-languageswitch-dropdown-lang__abbreviation,
.quiqqer-control-languageswitch-dropdown-dd-lang__abbreviation {
    text-transform: uppercase;
}

.quiqqer-control-languageswitch-dropdown-icon {
    margin-right: 0.25em;
}

.quiqqer-control-languageswitch-dropdown-arrow {
    line-height: inherit;
    margin-left: 0.25em;
}

/************/
/* dropdown */
/************/
.quiqqer-control-languageswitch-dropdown-dd {
    background: #fff;
    border: 1px solid #DDDDDD;
    display: none;
    top: 100%;
    position: absolute;
    padding: 1rem;
    min-width: 10rem;
    max-width: min(15rem, 240px);
}

.quiqqer-control-languageswitch-dropdown-dd.left {
    left: 0;
}

.quiqqer-control-languageswitch-dropdown-dd.right {
    right: 0;
}

.quiqqer-control-languageswitch-dropdown-dd-entry {
    display: block;
    color: inherit;
    padding-block: 0.25em;
}

.quiqqer-control-languageswitch-dropdown-dd-entry.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.quiqqer-control-languageswitch-dropdown-dd-icon {
    margin-right: 1em;
}
