.quiqqer-bricks-languageswitch-flag {
    display: flex;
    gap: 0.5rem;
}

.quiqqer-bricks-languageswitch-flag-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max(44px, 2.75rem);
    line-height: max(44px, 2.75rem);
    gap: 0.25rem;
}
