
.quiqqer-bricks-languageswitch-flag {
    float: left;
}

.quiqqer-bricks-languageswitch-flag-entry {
    float: left;
    padding: 0 10px;
}

.quiqqer-bricks-languageswitch-flag-entry-icon {
    margin-right: 5px;
}
