:where(.quiqqer-bricks-languageswitch-flag) {
    display: flex;
    gap: 1rem;
}

:where(.quiqqer-bricks-languageswitch-flag-entry) {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max(44px, 2.75rem);
    line-height: max(44px, 2.75rem);
    gap: 0.5rem;
}
