
.quiqqer-bricks-languageswitch-flag {
    float: left;
    display: flex;
    gap: 0.5rem;
}

.quiqqer-bricks-languageswitch-flag-entry {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    min-width: 50px;
    line-height: 50px;
}

.quiqqer-bricks-languageswitch-flag-entry-text {
    margin-left: 5px;
}
