
.quiqqer-bricks-site-category-area {
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-site-category-area-title {
    background: #dedede;
    color: #212527;
    padding: 10px;
}

.quiqqer-bricks-site-category-area-brick {
    border-bottom: 1px solid #dedede;
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-bricks-site-category-area-buttons {
    position: absolute;
    right: 4px;
    top: 4px;
}

.quiqqer-bricks-site-category-area-list {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-site-category-area-brick {
    list-style-type: none;
    position: relative;
}

.quiqqer-bricks-site-category-area-brick select {
    background: #fff;
    margin: 2px;
    padding: 2px;
    width: calc( 100% - 75px );
}

.quiqqer-bricks-site-category-area-brick button {
    float: right;
    line-height: 14px;
    margin: 2px;
    padding: 5px;
    width: 30px;
}

.quiqqer-bricks-site-category-area-deactivate {
    opacity : 0.5;
    text-decoration: line-through;
}

.quiqqer-bricks-site-category-area-placeholder {
    background: #fff;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-bricks-site-category-area-dd-active .quiqqer-bricks-site-category-area-placeholder {
    background: #2f8fc6;
    color: #fff;
}

.quiqqer-bricks-site-category-area-extraButtons {
    float: right;
    opacity: 0;
    position: relative;
    width: 0
}
