
.quiqqer-bricks-site-category-area {
    --list-bg: #f4f4f4;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-site-category-area-title {
    background: #dedede;
    color: #212527;
    padding: 10px;
}

.quiqqer-bricks-site-category-area-brick {
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    clear: both;
    float: left;
    width: 100%;
    padding-inline: 6px; /* 10px from ".quiqqer-bricks-site-category-area-title" -2px select padding -2px select margin */
}

.quiqqer-bricks-site-category-area-brick:hover {
    background-color: var(--list-bg);
}

.quiqqer-bricks-site-category-area-buttons {
    position: absolute;
    right: 4px;
    top: 4px;
}

.quiqqer-bricks-site-category-area-list {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-site-category-area-brick {
    list-style-type: none;
    position: relative;
}

.quiqqer-bricks-site-category-area-brick select {
    background: transparent;
    line-height: 20px;
    margin: 2px;
    padding: 2px;
    width: 100%;
}

.quiqqer-bricks-site-category-area-brick select[disabled] {
    border: none;
    color: #212527;
    cursor: default;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.quiqqer-bricks-site-category-area-brick .btn-wrapper {
    display: flex;
    opacity: 0;
    background-color: var(--list-bg);
    position: absolute;
    top: 0;
    right: 0;
}

.quiqqer-bricks-site-category-area-brick:hover .btn-wrapper {
    opacity: 1;
}


.quiqqer-bricks-site-category-area-brick button {
    float: right;
    line-height: 14px;
    margin: 2px;
    padding: 5px;
    width: 30px;
}

.quiqqer-bricks-site-category-area-deactivate {
    opacity: 0.5;
    text-decoration: line-through;
}

.quiqqer-bricks-site-category-area-placeholder {
    background: #fff;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-bricks-site-category-area-dd-active .quiqqer-bricks-site-category-area-placeholder {
    background: #2f8fc6;
    color: #fff;
}

.quiqqer-bricks-site-category-area-extraButtons {
    float: right;
    opacity: 0;
    position: relative;
    width: 0
}

.siteAreaWindow-filterContainer {
    margin-bottom: 1rem;
    position: relative;
}

.siteAreaWindow-filterContainer > .fa {
    position: absolute;
    left: 0;
    width: 3rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.siteAreaWindow-filterContainer-input {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.siteAreaWindow-filterContainer-counter {
    position: absolute;
    right: 0;
    width: 3rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

