.quiqqer-bricks-accordion-settings-dialog {
    min-height: 100%;
}

.quiqqer-bricks-accordion-settings-dialog .field-container {
    width: 100%;
}

.quiqqer-bricks-accordion-settings-dialog .field-entryContent,
.quiqqer-bricks-accordion-settings-dialog .control-editor,
.quiqqer-bricks-accordion-settings-dialog .control-editor-preview {
    min-height: 220px;
}
