.quiqqer-bricks-brickIdInput {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.quiqqer-bricks-brickIdInput__display {
    flex: 1 1 auto;
    min-width: 0;
}

.quiqqer-bricks-brickIdInput__title {
    display: block;
    margin-top: 0.25rem;
    opacity: 0.8;
}

.quiqqer-bricks-brickIdInput [data-name="clear"] {
    flex: 0 0 auto;
}
