.basic-slider-wrapper {
    display: flex;
    flex-direction: row;
}

.basic-slider-content,
.basic-slider-image-wrapper {
    width: 50%;
}

.basic-slider-image-wrapper {
    position: relative;
    text-align: center;
}

.basic-slider-images {
    padding-left: 0;
}

.basic-slider-image-wrapper .basic-slider-images li {
    display: none;
    list-style: none;
    opacity: 0;
    padding-left: 0;
    transform: translateX(-40px);
}

.basic-slider-image-wrapper .basic-slider-images li:nth-child(1) {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.basic-slider-image-wrapper img {
    max-width: 100%;
    width: var(--_qui-bricks-basicSlider-image-maxWidth, initial);
}

.basic-slider-content {
    display: flex;
}

.basic-slider__imageLeft {
    display: flex;
    flex-direction: row-reverse;
}

.basic-slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}

.basic-slider-dots li {
    background-color: var(--basic-slider-dot-backgroundColor, #e2e2e2);
    border: 2px solid var(--basic-slider-dot-borderColor, #e2e2e2);
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    height: 5px;
    margin: 0 5px;
    padding-left: 0;
    transition: all 0.2s ease-in-out;
    width: 5px;
}

.basic-slider-dots li.active {
    background-color: var(--basic-slider-dot-backgroundColor__active, currentColor);
    border-color: var(--basic-slider-dot-backgroundColor__active, currentColor);
    transform: scale(1.5);
}

@media screen and (min-width: 768px) {
    /* image on the right */
    .basic-slider-content {
        padding-right: 20px;
    }

    .basic-slider-image-wrapper {
        padding-left: 20px;
    }

    /* image on the left */
    .basic-slider__imageLeft .basic-slider-content {
        padding-left: 20px;
        padding-right: 0;
    }

    .basic-slider__imageLeft .basic-slider-image-wrapper {
        padding-right: 20px;
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .basic-slider-wrapper {
        flex-direction: column;
    }

    .basic-slider-content,
    .basic-slider-image-wrapper {
        width: 100%;
    }

    .basic-slider-image-wrapper {
        margin-top: 20px;
    }
}