.basic-slider-wrapper {
    display: flex;
    flex-direction: row;
}

.basic-slider-content,
.basic-slider-image-wrapper {
    width: 50%;
}

.basic-slider-image-wrapper {
    position: relative;
}

.basic-slider-image-wrapper li {
    list-style: none;
    position: absolute;
    top: 0;
    left: -50px;
    opacity: 0;
}

.basic-slider-image-wrapper li:nth-child(1) {
    opacity: 1;
    left: 0;
}

.basic-slider-content {
    padding-right: 20px;
}