.customerReviewsSlider-track {
    margin: auto;
    transition: height .2s ease-in-out;
}

.customerReviewsSlider-arrows {
    display: flex;
    align-items: center;
}

.customerReviewsSlider-arrow-left {
    margin-right: 2rem;
}

.customerReviewsSlider-arrow-right {
    margin-left: 2rem;
}

.customerReviewsSlider-arrows .customerReviewsSlider-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #aaa;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.customerReviewsSlider-arrows .customerReviewsSlider-arrow:hover {
    border-color: #333;
    color: #333;
}

.customerReviewsSlider-review {
    font-size: 1.125rem;
}

.customerReviewsSlider-client {
    display: flex;
    flex-direction: row;
}

.customerReviewsSlider-client-img {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
}

.customerReviewsSlider-client-img img {
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.customerReviewsSlider-client-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customerReviewsSlider-client-name,
.customerReviewsSlider-client-addition {
    font-size: 0.975rem;
}

.customerReviewsSlider-client-name {
    font-weight: 700;
}

.customerReviewsSlider-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
}

.customerReviewsSlider-dot {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
    margin: 0 5px;
    display: block;
    background-color: #aaa;
    transition: all .2s ease-in-out;
}

.customerReviewsSlider-dot.glide__bullet--active {
    border-color: #aaa;
}

.customerReviewsSlider-dot:hover {
    border-radius: 50%;
}

.customerReviewsSlider-slider-wrapper {
    display: flex;
}

@media screen and (max-width: 768px) {

    .customerReviewsSlider-track {
        margin: 0;
    }

    .customerReviewsSlider-arrows {
        display: none;
    }

    .customerReviewsSlider-dots {
        display: block;
        margin: 1rem auto;
    }

    .customerReviewsSlider-slider-wrapper {
        flex-direction: column;
    }
}