.quiqqer-bricks-promoslider-wallpaper {
    float: left;
    height: 540px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-promoslider-wallpaper-container {
    left: 0;
    float: left;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.quiqqer-bricks-promoslider-wallpaper ul {
    display: inline-block;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    width: 100%;
    white-space: nowrap;
}

.quiqqer-bricks-promoslider-wallpaper li {
    display: inline-block;
    float: none;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-promoslider-wallpaper-image {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.quiqqer-bricks-promoslider-wallpaper-prev,
.quiqqer-bricks-promoslider-wallpaper-next {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 3vw;
    height: 100%;
    position: absolute;
    left: 0;
    text-shadow: 1px 1px 1px #000;
    width: 80px;
    z-index: 2;
}

.quiqqer-bricks-promoslider-wallpaper-prev .fa,
.quiqqer-bricks-promoslider-wallpaper-next .fa {
    line-height: 4vw;
    margin-top: -2vw;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.quiqqer-bricks-promoslider-wallpaper-prev:hover .fa,
.quiqqer-bricks-promoslider-wallpaper-next:hover .fa {
    transform: scale(1.15);
}

.quiqqer-bricks-promoslider-wallpaper-next {
    left: inherit;
    right: 0;
}

.quiqqer-bricks-promoslider-wallpaper-container .grid-container {
    position: relative;
}

/** dots
 ============================================= */

.quiqqer-bricks-promoslider-wallpaper-dots {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.quiqqer-bricks-promoslider-wallpaper__nav_inner .quiqqer-bricks-promoslider-wallpaper-dots {
    bottom: 20px;
}

.quiqqer-bricks-promoslider-wallpaper-dot {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    box-shadow: 1px 1px 1px #000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 20px;
}

.quiqqer-bricks-promoslider-wallpaper-dot:hover {
    background: #d9232b;
    opacity: 0.5;
    transition: all 2s ease;
    -webkit-transition: all 0.3s ease;
}

.quiqqer-bricks-promoslider-wallpaper-dot-active {
    background: #d9232b;
    transition: all 2s ease;
    -webkit-transition: all 0.3s ease;
}

/** text
 ============================================= */

.quiqqer-bricks-promoslider-wallpaper-text {
    float: left;
    font-size: 16px;
    left: 0;
    line-height: 32px;
    margin-top: 20px;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    white-space: normal;
    width: 50%;
    z-index: 3;
}

.quiqqer-bricks-promoslider-wallpaper-text__right {
    left: auto;
    right: 0;
}

.quiqqer-bricks-promoslider-wallpaper-text header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.quiqqer-bricks-promoslider-wallpaper-text-description {
    background: rgba(255, 255, 255, 0.8);
    float: left;
    padding: 20px;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .quiqqer-bricks-promoslider-wallpaper-text {
        width: 100%;
    }
}

/** Wallpaper classes
 ================================================ */

.quiqqer-bricks-promoslider-wallpaper__contain .quiqqer-bricks-promoslider-wallpaper-image {
    background-size: contain;
}

.quiqqer-bricks-promoslider-wallpaper__top .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: top center;
}

.quiqqer-bricks-promoslider-wallpaper__top-left .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: top left;
}

.quiqqer-bricks-promoslider-wallpaper__top-right .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: top right;
}

.quiqqer-bricks-promoslider-wallpaper__left .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: left center;
}

.quiqqer-bricks-promoslider-wallpaper__right .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: right center;
}

.quiqqer-bricks-promoslider-wallpaper__center .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: center center;
}

.quiqqer-bricks-promoslider-wallpaper__bottom .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: bottom center;
}

.quiqqer-bricks-promoslider-wallpaper__bottom-left .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: bottom right;
}

.quiqqer-bricks-promoslider-wallpaper__bottom-right .quiqqer-bricks-promoslider-wallpaper-image {
    background-position: bottom right;
}
