.quiqqer-accordion-item--boxOutlineTextColor .quiqqer-accordion-item-header {
    border: var(--_border-width) var(--_border-style) currentColor;
}

.quiqqer-accordion-item--boxOutlineTextColor .quiqqer-accordion-item-header:is(:hover, :focus-visible) {
    background: color-mix(in oklab, transparent 95%, currentColor);
}

.quiqqer-accordion-item--boxOutlineTextColor .quiqqer-accordion-item-content {
    padding-top: 1rem;
}
