.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-header {
    border: var(--_border-width) var(--_border-style) var(--qui-border-color);
}

.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-header:is(:hover, :focus-visible) {
    border-color: currentColor;
}

.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-content {
    padding-top: 1rem;
}
