.quiqqer-accordion-list--boxFillAccent {
    --_items-gap: var(--quiqqer-bricks-accordion-items-gap, 1rem);
    --_border-width: var(--quiqqer-bricks-accordion-boxFillAccent-border-width, var(--qui-border-width));
    --_border-style: var(--quiqqer-bricks-accordion-boxFillAccent-border-style, var(--qui-border-style));
    --_border-color: var(--quiqqer-bricks-accordion-boxFillAccent-border-color, var(--qui-colors-primary));
    --_header-font-size: var(--quiqqer-bricks-accordion-header-font-size, 1.125rem);
    --_header-font-weight: var(--quiqqer-bricks-accordion-header-font-weight, 500);
}

.quiqqer-accordion-list--boxFillAccentOpen {
    --_items-gap: var(--quiqqer-bricks-accordion-items-gap, 1rem);
    --_border-width: var(--quiqqer-bricks-accordion-boxFillAccent-border-width, var(--qui-border-width));
    --_border-style: var(--quiqqer-bricks-accordion-boxFillAccent-border-style, var(--qui-border-style));
    --_border-color: var(--quiqqer-bricks-accordion-boxFillAccent-border-color, var(--qui-colors-primary));
    --_header-font-size: var(--quiqqer-bricks-accordion-header-font-size, 1.125rem);
    --_header-font-weight: var(--quiqqer-bricks-accordion-header-font-weight, 500);
}

.quiqqer-accordion-item--boxFillAccent .quiqqer-accordion-item-header--box {
    align-items: center;
    color: var(--qui-colors-primary-contrast, #fff);
    background: var(--qui-colors-primary);
    border: var(--_border-width) var(--_border-style) var(--_border-color);
    border-radius: var(--qui-border-radius, 1rem);
    cursor: pointer;
    display: flex;
    font-size: var(--_header-font-size);
    font-weight: var(--_header-font-weight);
    gap: 1rem;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

.quiqqer-accordion-item--boxFillAccent .quiqqer-accordion-item-header-text {
    flex-grow: 1
}

.quiqqer-accordion-item--boxFillAccentOpen .quiqqer-accordion-item-header--box {
    align-items: center;
    background: var(--qui-colors-surface-subtle);
    border: 1px solid var(--qui-colors-surface-subtle);
    border-radius: var(--qui-border-radius, 1rem);
    cursor: pointer;
    display: flex;
    font-size: var(--_header-font-size);
    font-weight: var(--_header-font-weight);
    gap: 1rem;
    margin: 0;
    padding: 1.125rem 1.25rem;
}

.quiqqer-accordion-item--boxFillAccentOpen[data-open="1"] .quiqqer-accordion-item-header--box {
    background: var(--qui-colors-primary);
    border: var(--_border-width) var(--_border-style) var(--_border-color);
    color: var(--qui-colors-primary-contrast, #fff);
}

.quiqqer-accordion-item--boxFillAccentOpen .quiqqer-accordion-item-header-text {
    flex-grow: 1
}

.quiqqer-accordion-list--icon-left .quiqqer-accordion-item--boxFillAccent .quiqqer-accordion-item-header-icon {
    margin-left: 0;
    order: -1;
}

.quiqqer-accordion-list--icon-left .quiqqer-accordion-item--boxFillAccentOpen .quiqqer-accordion-item-header-icon {
    margin-left: 0;
    order: -1;
}

.quiqqer-accordion-item--boxFillAccent .quiqqer-accordion-item-content--box {
    padding: 1.25rem 0;
}

.quiqqer-accordion-item--boxFillAccentOpen .quiqqer-accordion-item-content--box {
    padding: 1.25rem 0;
}
