.quiqqer-accordion-list--default {
    --_items-gap: 0;
    --_header-padding-inline: 0;
}

.quiqqer-accordion-item {
    border-bottom: var(--_border-width) var(--_border-style) var(--_border-color);
}

.quiqqer-accordion-item-header:is(:hover, :focus-visible) {
    background-color: color-mix(in oklab, transparent 84%, var(--qui-colors-surface-subtle));
}

.quiqqer-accordion-item-content {
    padding-block: 1rem;
}
