.quiqqer-accordion-list--boxOutline {
    --accordion-columns-gap: 1rem;
    --accordion-items-gap: 1rem;
}

.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-header--box {
    align-items: center;
    border: 1px solid var(--qui-colors-primary);
    border-radius: var(--qui-border-radius, 1rem);
    cursor: pointer;
    display: flex;
    font-size: var(--accordion-header-font-size, 1.125rem);
    font-weight: var(--accordion-header-font-weight, 500);
    gap: 1rem;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-header-text {
    flex-grow: 1
}

.quiqqer-accordion-list--icon-left .quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-header-icon {
    margin-left: 0;
    order: -1;
}

.quiqqer-accordion-item--boxOutline .quiqqer-accordion-item-content--box {
    padding: 1.25rem 0;
}
