.quiqqer-accordion-list {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--quiqqer-accordion-list-maxWidth, 100%);
    width: 100%;
}

.quiqqer-accordion-columns {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--accordion-columns-gap, 1rem);
}

.quiqqer-accordion-column {
    display: grid;
    flex: 1 1 var(--accordion-column-min-width, 300px);
    gap: var(--accordion-items-gap, 0);
    min-width: 0;
}

.quiqqer-accordion-item-header-icon {
    line-height: inherit;
    margin-left: auto;
}

.quiqqer-accordion-item-content-wrapper {
    overflow: hidden;
}

.quiqqer-accordion-item-content {
    display: none;
    overflow: auto;
}

.quiqqer-accordion-item[data-open="1"] .quiqqer-accordion-item-content {
    display: block;
}
