.quiqqer-accordion-list--simple {
    --_items-gap: var(--quiqqer-bricks-accordion-items-gap, 0.75rem);
    --_header-font-size: var(--quiqqer-bricks-accordion-header-font-size, 1rem);
    --_header-font-weight: var(--quiqqer-bricks-accordion-header-font-weight, 400);
}

.quiqqer-accordion-item--simple .quiqqer-accordion-item-header {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-size: var(--_header-font-size);
    font-weight: var(--_header-font-weight);
}

.quiqqer-accordion-item--simple .quiqqer-accordion-item-header-icon {
    margin-top: 0.1em;
}

.quiqqer-accordion-list--icon-left .quiqqer-accordion-item--simple .quiqqer-accordion-item-header-icon {
    margin-left: 0;
    margin-right: 0.75rem;
    order: -1;
}

.quiqqer-accordion-item--simple .quiqqer-accordion-item-content {
    padding: 0.75rem 0 0;
}
