.quiqqer-boxContentAdvanced-entry-img {
    margin-bottom: 2rem;
    text-align: center;
}

.quiqqer-boxContentAdvanced-entry-img picture {
    display: block;
    height: 250px;
    width: auto !important;
}

.quiqqer-boxContentAdvanced-entry-img .fa {
    font-size: 40px;
    margin-bottom: 2rem;
}

.quiqqer-boxContentAdvanced-entry-container.centerText .quiqqer-boxContentAdvanced-entry header {
    text-align: center;
}

.quiqqer-boxContentAdvanced-entry-title {
    font-size: 1.25rem;
}

.quiqqer-boxContentAdvanced-entry-subTitle {
    font-size: 0.9rem;
}

.quiqqer-boxContentAdvanced-entry-container.centerText .quiqqer-boxContentAdvanced-entry-content {
    text-align: center;
}

.quiqqer-boxContentAdvanced-entry-content *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .quiqqer-boxContentAdvanced-entry-container {
        flex: 1 0 280px;
    }

    .quiqqer-boxContentAdvanced-entry-img picture {
        height: auto;
    }
}