.quiqqer-boxContentAdvanced-entries__standard .quiqqer-boxContentAdvanced-entry-img {
    margin-bottom: var(--qui-spacing, 1rem);
    text-align: center;
}

.quiqqer-boxContentAdvanced-entries__standard .quiqqer-boxContentAdvanced-entry-img picture {
    height: 250px;
}

.quiqqer-boxContentAdvanced-entries__standard .quiqqer-boxContentAdvanced-entry-title {
    font-size: var(--qui-fs-lg, 1.25rem);
}

.quiqqer-boxContentAdvanced-entries__standard  .quiqqer-boxContentAdvanced-entry-subTitle {
    font-size: var(--qui-fs-sm, 0.9rem);
}

.quiqqer-boxContentAdvanced-entries__standard  .quiqqer-boxContentAdvanced-entry-content *:last-child {
    margin-bottom: 0;
}

.quiqqer-boxContentAdvanced-entries__standard  .centerText {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .quiqqer-boxContentAdvanced-entries__standard  .quiqqer-boxContentAdvanced-entry-img picture {
        height: auto;
    }
}