.quiqqer-boxContent {
    --_quiqqer-boxContent-entryGap: var(--quiqqer-boxContent-entryGap, 1rem);
    --_quiqqer-boxContent-entryMinWidth: var(--quiqqer-boxContent-entryMinWidth, 10rem);
}

.quiqqer-boxContent__entries {
    display: flex;
    gap: var(--_quiqqer-boxContent-entryGap);
    flex-wrap: wrap;
}

.quiqqer-boxContent__entry {
    flex: 1;
    min-width: var(--_quiqqer-boxContent-entryMinWidth);
}

.quiqqer-boxContent__entry--center {
    text-align: center;
}