.content-switcher {
    align-items: center;
    display: flex;
    margin: 2em 0;
    min-height: 360px;
    flex-direction: row;
}

    .content-switcher-image {
        width: 50%;
        padding:50px;
        text-align: center;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
    }

    img.content-switcher-image-img {
        max-height: 100%;
        max-width: 100%;
    }

    .content-switcher-content {
        width: 50%;
        padding: 50px 0;
        
    }

@media screen and (max-width: 767px){
    .content-switcher {
        flex-direction: column;
        border-bottom: 2px solid #f5f5f5;
    }

    .content-switcher:last-child {
        border-bottom: none;
    }

    .content-switcher-image {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .content-switcher-content {
        width: 100%;
    }
}


