.quiqqer-bricks-controls-image__pictureContainer {
    text-align: center;
}

.quiqqer-bricks-controls-image__link:hover {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
}

.quiqqer-bricks-controls-image__link {
    display: block;
}

.quiqqer-bricks-controls-image__picture {
    max-width: 100%;
}
