@CHARSET "UTF-8";

.quiqqer-simpleContactPerson__standard {
    margin: 0 auto;
}

.qui-simpleContactPerson-contentWrapper__standard {
    display: flex;
    gap: 2rem
}

.quiqqer-simpleContactPerson-personalData {
    font-weight: bold;
}

.quiqqer-simpleContactPerson-avatar {
    max-width: 8em;
    max-height: 8em;
}

.quiqqer-simpleContactPerson-avatar img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    border-radius: 50%;
}

.qui-simpleContactPerson-footer {
    text-align: right;
}

.qui-simpleContactPerson-privacypolicy__standard {
    display: block;
    margin-bottom: 0.5rem;
}

.qui-simpleContactPerson-contentWrapper-person__standard {
    width: var(--qui-simpleContactPerson-personWidth);
}

.qui-simpleContactPerson-contentWrapper-form__standard {
    display: flex;
    flex-direction: column;
    width: var(--qui-simpleContactPerson-formWidth);
}