.simpleGoogleMap-wrapper {
    background-position: center;
    background-size: cover;
    height: 100%;
}

.simpleGoogleMap {
    align-items: stretch;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 300px;
    position: relative;
}

.simpleGoogleMap-iframe {
    background: none;
    border: none;
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}

.btn-active-map {
    align-self: center;
    background: none;
    border-color: #333;
    color: #333;
    font-size: 1.2rem;
}

.btn-active-map:hover,
.btn-active-map:active{
    background: #33333311;
    color: #333;
}
