.quiqqer-textImage {
    display: flex;
}

.quiqqer-textImage-box:first-child {
    padding-left: 0;
}

.quiqqer-textImage-box:last-child {
    padding-right: 0;
}

.quiqqer-textImage-image {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.quiqqer-textImage-image__imageZoom picture {
    position: relative;
}

.quiqqer-textImage-image__imageZoom picture:after {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    font-size: 4rem;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s transform ease, 0.3s opacity ease;
    z-index: 1;
}

.quiqqer-textImage-image__imageZoom picture:hover:after {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.quiqqer-textImage-image__imageZoom img {
    display: block;
    cursor: zoom-in !important;
    transition: 0.3s filter ease;
}

.quiqqer-textImage-image__imageZoom picture:hover img {
    filter: brightness(0.5);
}

.quiqqer-textImage-content {
    display: flex;
}

.quiqqer-textImage-box .shadow-xl {
    /*box-shadow: 2px 4px 30px 0px rgba(0,0,0,0.2);*/
}

.quiqqer-textImage-image__fullImageHeight picture {
    height: 100%;
    display: flex;
}

.quiqqer-textImage-image__fullImageHeight picture img {
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .quiqqer-textImage {
        flex-direction: column;
    }

    .quiqqer-textImage-box {
        padding-left: 0;
        padding-right: 0;
    }

    .quiqqer-textImage-image {
        margin-bottom: 1rem;
        order: 1;
    }

    .quiqqer-textImage-content {
        order: 2;
    }
}